.graph {
  height: 20px;
  border-radius: 40px;
}
.graph .bar {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: right;
  background: rgb(12, 17, 68);
  border-radius: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
}
