.container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* section 1 */
.headline-wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 25%;
}

/* section 2 */
.my-pic {
  float: right;
  max-width: 50%;
  height: auto;
}

.title {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 25%;
}

.about-me-description {
  padding-right: 25%;
}

/* section 3 */
.skills-wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 15%;
}
