.container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}

.container ul {
  list-style:none;
  margin-top:50px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* section 1 */

#section1 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2)
    ),
    url("../images/dark.jpg") no-repeat center center fixed;
  background-size: cover;
}

.headline-wrapper {
  /* position: relative; */
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 25%;
  color: rgb(245, 189, 6);
}

.headline-wrapper .headline {
}
/* section 2 */

#section2 {
  background: rgb(248, 249, 250);
  background-size: cover;
}

.my-pic {
  float: left;
  max-width: 50%;
  height: auto;
  border: rgb(1, 6, 19) solid 3px;
}

.title {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 25%;
}

.about-me-description {
  padding-left: 25%;
  padding-right: 15%;
}

/* section 3 */

#section3 {
  background: rgb(248, 249, 250);
  background-size: cover;
}

.skills-wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 15%;
}

/* graph */

.graph {
  height: 20px;
  border-radius: 40px;
}
.graph .bar {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: right;
  background: rgb(12, 17, 68);
  border-radius: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
}

.table th {
  width: 20%;
}

/* section 4 */

.card img {
  border: rgb(15, 19, 78) solid 2px;
}
.card-wrapper {
}
.card-content {
  margin-top: 10px;
  
}
.links {
  display: flex;
  justify-content: space-around;
}

.card-body button {
  padding: 0px 30;
  background: rgb(148, 209, 178);
}

/* section 5 */
#section5 .contact {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

#section5 .contact a {
  /* border: 3px solid navy; */
  text-decoration: none;
}
#section5 p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin-top: 30px;
}
